html body {

  font-family: "Open Sans Condensed",  
                "Arial Narrow", 
                Arial, 
                sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald",  "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  font-variant: normal;
  font-style: normal;
  color: #404040;
}

.bold-text{
	font-weight: bold;
}

.nav{

}
.navbar{
	background-color: #404040;
	border: none;
	border-radius: 0px;
	max-width: 1140px;
	margin: 0 auto;
}
.navbar-right {
  margin-right: 0px;
 }

.banner {
	background-color: #dda037;
	margin-bottom: 10px;
       border: solid #dda037;
       border-radius: 0px 0px 4px 4px;
       height: 5em;
}
.versions{
	position: absolute;
}


.headline{
	text-align: center;
}

.nav-tabs>li.active>a{
	font-weight: bold;
}
.nav-tabs>li>a{
	font-weight: bold;
}

.panel-group{
	margin-top: 10px;
}

.prefixer{
	display: inline;
}